* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
}

main {
    background-color: lightgreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: lightblue;
    width: 200px;
    height: 200px;
}