@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( to right, #F2C894, #8C5637);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5c3924b0;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #8C5637; 
    text-align: center;
    text-shadow: 1px 1px 0px #6d432bcc;
}
h2{
    color: #4679A6;
}
p{
    text-align: justify;
}